
.profile-color{
    color: rgb(0, 73, 182) !important
}
.ship-bg-image{
    background-image: url("../Assists/images/s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.icon-size{
    font-size: 20px;
}
.Active{
    background-color: rgb(0, 255, 89) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
}

.At{
    background-color: rgb(0, 110, 255) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
}
.Under{
    background-color: rgb(255, 29, 4) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
}