<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ship Components</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../Styles/maintenance-history.css">
  </head>
  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container font-size px-0">
            <a class="navbar-brand d-flex align-items-center me-5" href="#">
                <img src="../Assists/images/website log.jpg" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
                PEARL
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav gap-2">
                    <li class="nav-item">
                        <a class="nav-link" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./ships.html">Ships</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/components.html">Components</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-color fw-bold" href="#">Maintenance Job</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item px-3 profile border-0">
                        <a class="nav-link active fw-bold d-flex align-items-center gap-2 profile-color profile-icon" href="profile.html"><i class="bi bi-person-fill "></i>Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

     <!-- Title and Search with filter -->
    <section>
        <div class="container px-0 d-flex flex-column gap-3 my-3">
            <div class="row">
                <div class="col-sm-6">
                    <h4>MAINTENANCE HISTORY</h4>
                    <p class="text-secondary">Manage and track all ship components</p>
                </div>
            </div>
            <div class="row border py-2 bg-light rounded-2 py-2"> 
                <div class="col-sm-7 px-0 ">
                    <div class="row">
                        <div class="col-sm ms-2 position-relative pe-0 me-0">
                            <label for="ship-id-dropdown" class="down-arrow">
                                <i class="bi bi-caret-down-fill"></i>
                            </label>
                            <select id="ship-id-dropdown" class="form-control" onchange="searchValues()">
                            </select>
                        </div>
                        <div class="col-sm ms-2 position-relative px-0 me-0">
                            <label for="status-dropdown" class="down-arrow">
                                <i class="bi bi-caret-down-fill"></i>
                            </label>
                            <select id="priority-dropdown" class="form-control" onchange="searchValues()">
                                <option value="">All Priorities</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                        <div class="col-sm ms-2 position-relative px-0 me-0">
                            <label for="priority-dropdown" class="down-arrow">
                                <i class="bi bi-caret-down-fill"></i>
                            </label>
                            <select id="status-dropdown" class="form-control" onchange="searchValues()">
                                <option value="">Any Status</option>
                                <option value="Completed">Completed</option>
                                <option value="Pending">Pending</option>
                                <option value="On Hold">On Hold</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 d-flex justify-content-end align-items-center">
                    <!-- Button for add new Job -->
                    <button type="button" class="btn btn-primary btn-styles" id="addJob" data-bs-toggle="modal" data-bs-target="#Maintenance_history">
                        <i class="bi bi-plus-lg"></i> New JOB
                    </button>
                    <!--Form for Maintenance history Modal -->
                    <div class="modal fade" id="Maintenance_history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content p-3">
                                <div class="modal-header border-bottom-0">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Maintenance Job</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex flex-column gap-3">
                                    <div>
                                        <label for="component-name" class="form-label">JOB TYPE</label>
                                        <input type="text" id="history-type" class="form-control" placeholder="Example: Electrical Inspection">
                                    </div>
                                    <div>
                                        <label for="form-priority-dropdown" class="form-label">PRIORITY</label>
                                        <select id="form-priority-dropdown" class="form-control">
                                            <option value="">All Priorities</option>
                                            <option value="High">High</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Low">Low</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="form-status-dropdown" class="form-label">STATUS</label>
                                        <select id="form-status-dropdown" class="form-control">
                                            <option value="" disabled selected>Any Status</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Pending">Pending</option>
                                            <option value="On Hold">On Hold</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="ship-ids" class="form-label">SHIP ID</label>
                                        <select id="ship-ids" class="form-select">
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer border-top-0">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="postNewJob">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Maintenance history list table -->
     <section>
        <div class="container px-0">
            <table class="table">
               <th>
                   <tr>
                       <th>ID</th>
                       <th>JOB TYPE</th>
                       <th>STARTED</th>
                       <th>PRIORITY</th>
                       <th>STATUS</th>
                       <th class="text-end">ACTIONS</th>
                   </tr>
               </th>
               <tbody id="table-body">
               </tbody>
            </table>
        </div>
     </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="../Scripts/maintenance-history.js"></script>
  </body>
</html>