<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../Styles/ship-details.css" />
</head>

<body>
    <section>
        <div class="container">
            <!-- Titles -->
            <div class="row my-3">
                <div class="col-md-8">
                    <h2 class="fw-bolder">
                        <a href="ships.html"><i class="bi bi-arrow-left"></i></a>
                        Ship Profile: <span id="ship-name">Titanic</span> (<span class="imo-number">0000000</span>)
                    </h2>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <!-- Button for update ship -->
                    <button type="button" class="btn btn-outline-primary btn-styles text-light fw-bold" id="putDetails" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="bi bi-pencil-square "></i> Edit
                    </button>
                </div>
                <!--Form for update ship Details Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-3">
                            <div class="modal-header border-bottom-0">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                    New Ship Details
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex flex-column gap-3">
                                <div>
                                    <label for="ship-name" class="form-label">SHIP NAME</label>
                                    <input type="text" id="form-ship-name" class="form-control"
                                        placeholder="Example: Titanic" />
                                </div>
                                <div>
                                    <label for="imo-number" class="form-label">IMO NUMBER</label>
                                    <input type="text" id="form-imo-number" class="form-control"
                                        placeholder="Example: IMO0002345" />
                                </div>
                                <div>
                                    <label for="flag" class="form-label">FLAG</label>
                                    <input type="text" id="form-flag" class="form-control" placeholder="Example: US" />
                                </div>
                                <div>
                                    <label for="status" class="form-label">STATUS</label>
                                    <select id="form-status" class="form-select">
                                        <option value="" selected disabled>
                                            What is the ship status
                                        </option>
                                        <option value="Active">Active</option>
                                        <option value="At port">At port</option>
                                        <option value="Under maintenance">
                                            Undermaintenance
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer border-top-0">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" id="updateShip">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-secondary mb-0">
                        IMO Number: <span class="imo-number">0000000</span>
                    </p>
                    <p class="text-secondary">
                        Flag: <span id="flag">0000000</span> | Created:
                        <span id="created">2345</span>
                    </p>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <h5 id="ship-status" class="">at port</h5>
                </div>
            </div>

            <!-- background image -->
            <div class="ship-bg-image rounded-2"></div>

            <!-- Details -->
            <div class="row py-4">
                <!-- Components Details and Maintenace history-->
                <div>
                    <button class="btn btn-style" onclick="activeBtn(`com`)" id="components-details-btn">Ship Components</button>
                    <button class="btn" onclick="activeBtn(`job`)" id="job-details-btn">Maintenance History</button>
                </div>
                <div>
                    <!-- Components Details -->
                    <div id="components-details">
                        <!-- Title and Search with filter -->
                        <section>
                            <div class="container px-0 d-flex flex-column gap-3 my-3">
                                <div class="row border py-2 bg-light rounded-2 py-2"> 
                                    <div class="col-sm-7 px-0 ">
                                    </div>
                                    <div class="col-sm-5 d-flex justify-content-end align-items-center">
                                        <!-- Button for add new ship component -->
                                        <button type="button" class="btn btn-primary btn-styles" id="addComponent" data-bs-toggle="modal" data-bs-target="#comModal">
                                            <i class="bi bi-plus-lg"></i> New Component
                                        </button>
                                        <!--Form for Ship Component Modal -->
                                        <div class="modal fade" id="comModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content p-3">
                                                    <div class="modal-header border-bottom-0">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Component Details</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body d-flex flex-column gap-3">
                                                        <div>
                                                            <label for="component-name" class="form-label">COMPONENT NAME</label>
                                                            <input type="text" id="component-name" class="form-control" placeholder="Example: Radar System">
                                                        </div>
                                                        <div>
                                                            <label for="serial-number" class="form-label">SERIAL NUMBER</label>
                                                            <input type="text" id="serial-number" class="form-control" placeholder="Example: RAD-2025-004">
                                                        </div>
                                                        <div>
                                                            <label for="installed-date" class="form-label">INSTALLED DATE</label>
                                                            <input type="date" id="installed-date" class="form-control" >
                                                        </div>
                                                        <div>
                                                            <label for="last-maintenance-date" class="form-label">LAST MAINTENANCE DATE</label>
                                                            <input type="date" id="last-maintenance-date" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer border-top-0">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" id="postNewShip">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Components list table -->
                        <section>
                            <div class="container px-0">
                                <table class="table">
                                <th>
                                    <tr>
                                        <th>ID</th>
                                        <th>COMPONENT NAME</th>
                                        <th>SERIAL NUMBER</th>
                                        <th>INSTALLED</th>
                                        <th>LAST MAINTENANCE</th>
                                        <th class="text-end">ACTIONS</th>
                                    </tr>
                                </th>
                                <tbody id="com-table-body">
                                </tbody>
                                </table>
                            </div>
                        </section>


                    </div>

                    <!-- Maintenace history -->
                    <div class="details" id="job-details">
                        <section>
                            <div class="container px-0 d-flex flex-column gap-3 my-3">
                                
                                <div class="row border py-2 bg-light rounded-2 py-2"> 
                                    <div class="col-sm-7 px-0 ">
                                        <div class="row">
                                            <div class="col-sm-4 ms-2 position-relative px-0 me-0">
                                                <label for="status-dropdown" class="down-arrow">
                                                    <i class="bi bi-caret-down-fill"></i>
                                                </label>
                                                <select id="priority-dropdown" class="form-control" onchange="searchValues()">
                                                    <option value="">All Priorities</option>
                                                    <option value="High">High</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="Low">Low</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 ms-2 position-relative px-0 me-0">
                                                <label for="priority-dropdown" class="down-arrow">
                                                    <i class="bi bi-caret-down-fill"></i>
                                                </label>
                                                <select id="status-dropdown" class="form-control" onchange="searchValues()">
                                                    <option value="">Any Status</option>
                                                    <option value="Completed">Completed</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="On Hold">On Hold</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 d-flex justify-content-end align-items-center">
                                        <!-- Button for add new Job -->
                                        <button type="button" class="btn btn-primary btn-styles" id="addJob" data-bs-toggle="modal" data-bs-target="#Maintenance_history">
                                            <i class="bi bi-plus-lg"></i> New JOB
                                        </button>
                                        <!--Form for Maintenance history Modal -->
                                        <div class="modal fade" id="Maintenance_history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content p-3">
                                                    <div class="modal-header border-bottom-0">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Maintenance Job</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body d-flex flex-column gap-3">
                                                        <div>
                                                            <label for="component-name" class="form-label">JOB TYPE</label>
                                                            <input type="text" id="history-type" class="form-control" placeholder="Example: Electrical Inspection">
                                                        </div>
                                                        <div>
                                                            <label for="form-priority-dropdown" class="form-label">PRIORITY</label>
                                                            <select id="form-priority-dropdown" class="form-control">
                                                                <option value="">All Priorities</option>
                                                                <option value="High">High</option>
                                                                <option value="Medium">Medium</option>
                                                                <option value="Low">Low</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="form-status-dropdown" class="form-label">STATUS</label>
                                                            <select id="form-status-dropdown" class="form-control">
                                                                <option value="" disabled selected>Any Status</option>
                                                                <option value="Completed">Completed</option>
                                                                <option value="Pending">Pending</option>
                                                                <option value="On Hold">On Hold</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="ship-ids" class="form-label">SHIP ID</label>
                                                            <select id="ship-ids" class="form-select">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer border-top-0">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" id="postNewJob">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Maintenance history list table -->
                        <section>
                            <div class="container px-0">
                                <table class="table">
                                <th>
                                    <tr>
                                        <th>ID</th>
                                        <th>JOB TYPE</th>
                                        <th>STARTED</th>
                                        <th>PRIORITY</th>
                                        <th>STATUS</th>
                                        <th class="text-end">ACTIONS</th>
                                    </tr>
                                </th>
                                <tbody id="table-body">
                                </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="../Scripts/ship-details.js"></script>
</body>

</html>